<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aprende_play">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".Premios"
            android:exported="true"
            android:screenOrientation="landscape"
            />
        <activity
            android:name=".Instrucciones"
            android:exported="true" />
        <activity
            android:name=".Reintento"
            android:exported="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Juego2"
            android:exported="true" />
        <activity
            android:name=".video"
            android:exported="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Video2"
            android:exported="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".abel.Resp"
            android:exported="true" />
        <activity
            android:name=".info_covid"
            android:exported="true" />
        <activity
            android:name=".Juegos"
            android:exported="true" />
        <activity
            android:name=".abel.Avances"
            android:exported="true" />
        <activity
            android:name=".Giff"
            android:exported="true" />
        <activity
            android:name=".abel.Res1"
            android:exported="true" />
        <activity
            android:name=".abel.Notificaciones"
            android:exported="true" />
        <activity
            android:name=".abel.DonarActivity"
            android:exported="true" />
        <activity
            android:name=".abel.Chat_Activity"
            android:exported="true" />
        <activity
            android:name=".abel.Preguntas"
            android:exported="true" />
        <activity
            android:name=".abel.Pantalla_Opciones"
            android:exported="true" />
        <activity
            android:name=".juegos.Juego"
            android:exported="true" />
        <activity
            android:name=".Login"
            android:exported="true" />
        <activity
            android:name=".Seleccion"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>